BOOST_INCLUDE_DIR = "D:/tools/boost_1_64_0"
BOOST_LIB_DIR = BOOST_INCLUDE_DIR.."/lib64-msvc-14.1"
BOOST_USE_STATIC_LIBS = true
BOOST_VERSION = "1_64"
BOOST_TOOLSET = "vc141"
BOOST_MULTITHREADED = true

GMOCK_DIR = "D:/tools/googletest/googlemock"
GTEST_DIR = "D:/tools/googletest/googletest"

DIRECTX_TEX_ROOT = "E:/private/DirectXTex"

USR_DIR = "E:/private/usr"

COCONUT_TOOLS_USE_STATIC_LIBS = true
